.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
01_data/data_wrangling/r_data_wrangling/tempdir/*
01_data/data_wrangling/r_data_wrangling/*
01_data/data_wrangling/tempdir/*
02_scripts/temp/*
02_scripts/archive/*
03_data_wrangling/*
.venv
.zip
archive/*