.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
01_data/data_wrangling/r_data_wrangling/tempdir/*
01_data/data_wrangling/r_data_wrangling/*
01_data/data_wrangling/tempdir/*
02_scripts/temp/*
02_scripts/archive/*
.venv
.zip
archive/*
.code-workspace
01_data/*.xlsx
01_data/*.csv
01_data/data_wrangling/*.csv
01_data/archive/*
02_scripts/*.csv
02_scripts/*.xlsx
git_ignore/*
venv
03_dashboard/__pycache__/*
03_dashboard/pages/__pycache__/*
03_dashboard/model.log
HSMAproject2023.code-workspace